<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Pool_Counters_v2._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Pool_Counters_v2._0.Properties.Settings>
            <setting name="mainLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="lastChamp" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="champsCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="counters" serializeAs="String">
                <value />
            </setting>
            <setting name="firstGradientColor" serializeAs="String">
                <value>25, 25, 25</value>
            </setting>
            <setting name="secGradientColor" serializeAs="String">
                <value>12, 12, 12</value>
            </setting>
            <setting name="gradientMode" serializeAs="String">
                <value>Horizontal</value>
            </setting>
            <setting name="playerRoleSolo" serializeAs="String">
                <value />
            </setting>
            <setting name="playerRoleFlex" serializeAs="String">
                <value />
            </setting>
            <setting name="poolSolo" serializeAs="String">
                <value>["Teemo","Teemo","Teemo","Teemo","Teemo","Teemo"]</value>
            </setting>
            <setting name="poolFlex" serializeAs="String">
                <value>["Teemo","Teemo","Teemo","Teemo","Teemo","Teemo"]</value>
            </setting>
            <setting name="playerNickname" serializeAs="String">
                <value>Your nickname here</value>
            </setting>
            <setting name="playerRealNickname" serializeAs="String">
                <value>TeemoDacy</value>
            </setting>
            <setting name="lastPageUsed" serializeAs="String">
                <value />
            </setting>
            <setting name="rolePadding" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="applyToAllGradients" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="draftMusic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaultSpells" serializeAs="String">
                <value />
            </setting>
            <setting name="showTimeInSeconds" serializeAs="String">
                <value>False</value>
            </setting>
        </Pool_Counters_v2._0.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.34.0" newVersion="1.11.34.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>